{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "vernonsoftwaresolutions/moodleapache:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ],
   "Volumes": [
    {
      "HostDirectory": "/tmp/config.php",
      "ContainerDirectory": "/var/www/html/mooodle/"
    }
  ]
}