Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: moodle-elasticbeanstalk-deployables-us-east-1
          roleName: aws-elasticbeanstalk-ec2-role
files:
  /config/config.php:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/moodle-elasticbeanstalk-deployables-us-east-1/config/config.php
