files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_insert_moodle_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      
      #grab containerid
      cid=sudo docker ps --latest --format "{{.ID}}" 
      docker cp /tmp/config/config.php $cid:/var/www/html/mooodle/config.php
