files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_insert_moodle_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      
      #grab containerid
      echo "about to grab containerId"
      cid=sudo docker ps --latest --format "{{.ID}}" 
      echo "container id is $cid"
      fullcid=sudo docker inspect -f '{{.Id}}' $cid
      sudo docker cp /tmp/config/config.php $fullcid:/var/www/html/mooodle/config.php
      echo "copied config to moodle directory"
