Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: moodle-elasticbeanstalk-deployables-us-east-1
          roleName: aws-elasticbeanstalk-ec2-role
files: 
  /tmp/config/config.php:
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/moodle-elasticbeanstalk-deployables-us-east-1/config/config.php

commands:
  01_mount:
    command: "/tmp/config/dbconfig.sh"

files:
  /tmp/config/dbconfig.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      pwd 
      ls
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      echo "about to modify config.php with the following env variables $DBURL, $DBNAME, $DBUSER, password"
      sudo sed "s/<DATABASEURL>/$DBURL/" < config.php > config.php
      sudo sed "s/<DATABASENAME>/$DBNAME/" < config.php > config.php
      sudo sed "s/<DATABASEUSER>/$DBUSER/" < config.php > config.php
      sudo sed "s/<DATABASEPASSWORD>/$DBPASSWORD/" < config.php > config.php
      sudo sed "s/<WWWROOT>/$EBURL/" < config.php > config.php

      echo "modified config.php"
