files:
  /config/dbconfig.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pwd 
      printenv
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      echo "about to modify config.php with the following env variables ${DATABASEURL}, ${DATABASENAME}, ${DATABASEUSER}, ${EBURL}"
      sudo sed -ie "s/<DATABASEURL>/${DATABASEURL}/" /config/config.php 
      sudo sed -ie "s/<DATABASENAME>/${DATABASENAME}/" /config/config.php
      sudo sed -ie "s/<DATABASEUSER>/${DATABASEUSER}/" /config/config.php
      sudo sed -ie "s/<DATABASEPASSWORD>/${DBPASSWORD}/" /config/config.php
      sudo sed -ie "s/<WWWROOT>/${EBURL}/" /config/config.php

      echo "modified config.php"
container_commands:
  01_mount:
    command: "/config/dbconfig.sh"
