Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["moodle-elasticbeanstalk-deployables-us-east-1"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

container_commands:
  create-config:
    command: "/tmp/createconfig.sh"

files: 
  "/tmp/config.php":
     mode: "000400"
     owner: root
     group: root
     authentication: "S3Auth"
     source: https://s3.amazonaws.com/moodle-elasticbeanstalk-deployables-us-east-1/config/config.php
  "/tmp/createconfig.sh":
    mode: "000755"
    content : |
      #! /bin/bash

      echo "about to modify config.php with the following env variables $DBURL, $DBNAME, $DBUSER, password"
      sed "s/<DATABASEURL>/$DBURL/" < config.php > config.php
      sed "s/<DATABASENAME>/$DBNAME/" < config.php > config.php
      sed "s/<DATABASEUSER>/$DBUSER/" < config.php > config.php
      sed "s/<DATABASEPASSWORD>/$DBPASSWORD/" < config.php > config.php
      echo "modified config.php, moving config.php"
      mv config.php /
